# Assignment 3 - Pandas Data Analysis Practice

*This assignment is a part of the course ["Data Analysis with Python: Zero to Pandas"](https://jovian.ai/learn/data-analysis-with-python-zero-to-pandas)*

In this assignment, you'll get to practice some of the concepts and skills covered in this tutorial: https://jovian.ai/aakashns/python-pandas-data-analysis

As you go through this notebook, you will find a **???** in certain places. To complete this assignment, you must replace all the **???** with appropriate values, expressions or statements to ensure that the notebook runs properly end-to-end. 

Some things to keep in mind:

* Make sure to run all the code cells, otherwise you may get errors like `NameError` for undefined variables.
* Do not change variable names, delete cells or disturb other existing code. It may cause problems during evaluation.
* In some cases, you may need to add some code cells or new statements before or after the line of code containing the **???**. 
* Since you'll be using a temporary online service for code execution, save your work by running `jovian.commit` at regular intervals.
* Questions marked **(Optional)** will not be considered for evaluation, and can be skipped. They are for your learning.

You can make submissions on this page: https://jovian.ai/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

If you are stuck, you can ask for help on the community forum: https://jovian.ai/forum/t/assignment-3-pandas-practice/11225/3. You can get help with errors or ask for hints, describe your approach in simple words, link to documentation, but **please don't ask for or share the full working answer code** on the forum.


## How to run the code and save your work

The recommended way to run this notebook is to click the "Run" button at the top of this page, and select "Run on Binder". This will run the notebook on [mybinder.org](https://mybinder.org), a free online service for running Jupyter notebooks. 

Before starting the assignment, let's save a snapshot of the assignment to your Jovian.ai profile, so that you can access it later, and continue your work.

In [1]:
# import jovian

In [2]:
# jovian.commit(project='pandas-practice-assignment', environment=None)

In [3]:
# Run the next line to install Pandas
!pip install pandas --upgrade

Requirement already satisfied: pandas in /opt/conda/lib/python3.7/site-packages (1.3.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/conda/lib/python3.7/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /opt/conda/lib/python3.7/site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /opt/conda/lib/python3.7/site-packages (from pandas) (1.21.6)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas) (1.16.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [4]:
import pandas as pd

In this assignment, we're going to analyze an operate on data from a CSV file. Let's begin by downloading the CSV file.

In [5]:
from urllib.request import urlretrieve

urlretrieve('https://gist.githubusercontent.com/aakashns/28b2e504b3350afd9bdb157893f9725c/raw/994b65665757f4f8887db1c85986a897abb23d84/countries.csv', 
            'countries.csv')

('countries.csv', <http.client.HTTPMessage at 0x7f62f2c758d0>)

Let's load the data from the CSV file into a Pandas data frame.

In [6]:
countries_df = pd.read_csv('countries.csv')

In [7]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987
1,Albania,Europe,2877800.0,78.57,2.89,11803.431
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839
3,Andorra,Europe,77265.0,83.73,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495
...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775

**Q1: How many countries does the dataframe contain?**

Hint: Use the `.shape` method.

In [8]:
num_countries = countries_df.shape[0]
num_countries

210

In [9]:
print('There are {} countries in the dataset'.format(num_countries))

There are 210 countries in the dataset

In [10]:
# jovian.commit(project='pandas-practice-assignment', environment=None)

**Q2: Retrieve a list of continents from the dataframe?**

*Hint: Use the `.unique` method of a series.*

In [11]:
continents = countries_df.continent

In [12]:
continents.unique()

array(['Asia', 'Europe', 'Africa', 'North America', 'South America',
       'Oceania'], dtype=object)

In [13]:
# jovian.commit(project='pandas-practice-assignment', environment=None)

**Q3: What is the total population of all the countries listed in this dataset?**

In [14]:
total_population = countries_df.population.sum()

In [15]:
print('The total population is {}.'.format(int(total_population)))

The total population is 7757980095.

In [16]:
# jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: (Optional) What is the overall life expectancy across in the world?**

*Hint: You'll need to take a weighted average of life expectancy using populations as weights.*

In [17]:
average_age = countries_df.life_expectancy.mean()

In [18]:
average_age
print('Life Expectancy is {}.'.format(int(average_age)))

Life Expectancy is 73.

In [19]:
# jovian.commit(project='pandas-practice-assignment', environment=None)

**Q4: Create a dataframe containing 10 countries with the highest population.**

*Hint: Chain the `sort_values` and `head` methods.*

In [20]:
most_populous_df = countries_df.sort_values(['population'],ascending=False)[['location','population']].head(10)

In [21]:
most_populous_df

          location    population
41           China  1.439324e+09
90           India  1.380004e+09
199  United States  3.310026e+08
91       Indonesia  2.735236e+08
145       Pakistan  2.208923e+08
27          Brazil  2.125594e+08
141        Nigeria  2.061396e+08
15      Bangladesh  1.646894e+08
157         Russia  1.459345e+08
125         Mexico  1.289328e+08

In [22]:
# jovian.commit(project='pandas-practice-assignment', environment=None)

**Q5: Add a new column in `countries_df` to record the overall GDP per country (product of population & per capita GDP).**

In [23]:
countries_df['gdp'] = countries_df.population * countries_df.gdp_per_capita

In [24]:
countries_df

,location,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
0,Afghanistan,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11
...,...,...,...,...,...,...,...
205,Vietnam,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11
206,Western Sahara,Africa,597330.0,70.26,NaN,NaN,NaN
207,Yemen,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10
208,Zambia,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10
209,Zimbabwe,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10

In [25]:
# jovian.commit(project='pandas-practice-assignment', environment=None)

**Q: (Optional) Create a dataframe containing 10 countries with the lowest GDP per capita, among the counties with population greater than 100 million.**

In [26]:
lowest_gdp = countries_df.sort_values(['gdp'],ascending=True)[['location','gdp']]

In [27]:
lowest_gdp.head(10)

                             location           gdp
163             Sao Tome and Principe  6.690359e+08
55                           Dominica  6.963954e+08
161  Saint Vincent and the Grenadines  1.190145e+09
43                            Comoros  1.229512e+09
159             Saint Kitts and Nevis  1.311416e+09
78                            Grenada  1.529569e+09
170         Sint Maarten (Dutch part)  1.557784e+09
162                        San Marino  1.929765e+09
6                 Antigua and Barbuda  2.104565e+09
160                       Saint Lucia  2.378333e+09

In [28]:
# jovian.commit(project='pandas-practice-assignment', environment=None)

**Q6: Create a data frame that counts the number countries in each continent?**

*Hint: Use `groupby`, select the `location` column and aggregate using `count`.*

In [29]:
country_counts_df = countries_df.groupby('continent')[['location']].count()

In [30]:
country_counts_df

               location
continent
Africa               55
Asia                 47
Europe               51
North America        36
Oceania               8
South America        13

In [31]:
# jovian.commit(project='pandas-practice-assignment', environment=None)

**Q7: Create a data frame showing the total population of each continent.**

*Hint: Use `groupby`, select the population column and aggregate using `sum`.*

In [32]:
continent_populations_df = countries_df.groupby('continent')[["population"]].sum()

In [33]:
continent_populations_df

                 population
continent
Africa         1.339424e+09
Asia           4.607388e+09
Europe         7.485062e+08
North America  5.912425e+08
Oceania        4.095832e+07
South America  4.304611e+08

In [34]:
# jovian.commit(project='pandas-practice-assignment', environment=None)

Let's download another CSV file containing overall Covid-19 stats for various countires, and read the data into another Pandas data frame.

In [35]:
urlretrieve('https://gist.githubusercontent.com/aakashns/b2a968a6cfd9fbbb0ff3d6bd0f26262b/raw/b115ed1dfa17f10fc88bf966236cd4d9032f1df8/covid-countries-data.csv', 
            'covid-countries-data.csv')

('covid-countries-data.csv', <http.client.HTTPMessage at 0x7f62f2b8d350>)

In [36]:
covid_data_df = pd.read_csv('covid-countries-data.csv')

In [37]:
covid_data_df

           location  total_cases  total_deaths  total_tests
0       Afghanistan      38243.0        1409.0          NaN
1           Albania       9728.0         296.0          NaN
2           Algeria      45158.0        1525.0          NaN
3           Andorra       1199.0          53.0          NaN
4            Angola       2729.0         109.0          NaN
..              ...          ...           ...          ...
207  Western Sahara        766.0           1.0          NaN
208           World   26059065.0      863535.0          NaN
209           Yemen       1976.0         571.0          NaN
210          Zambia      12415.0         292.0          NaN
211        Zimbabwe       6638.0         206.0      97272.0

[212 rows x 4 columns]

**Q8: Count the number of countries for which the `total_tests` data is missing.**

*Hint: Use the `.isna` method.*

In [38]:
total_tests_missing = covid_data_df.total_tests.isna().sum()

In [39]:
print("The data for total tests is missing for {} countries.".format(int(total_tests_missing)))

The data for total tests is missing for 122 countries.

In [40]:
# jovian.commit(project='pandas-practice-assignment', environment=None)

Let's merge the two data frames, and compute some more metrics.

**Q9: Merge `countries_df` with `covid_data_df` on the `location` column.**

*Hint: Use the `.merge` method on `countries_df`.

In [41]:
combined_df = covid_data_df.merge(countries_df,on='location')

In [42]:
combined_df

,location,total_cases,total_deaths,total_tests,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp
0,Afghanistan,38243.0,1409.0,NaN,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10
1,Albania,9728.0,296.0,NaN,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10
2,Algeria,45158.0,1525.0,NaN,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11
3,Andorra,1199.0,53.0,NaN,Europe,77265.0,83.73,NaN,NaN,NaN
4,Angola,2729.0,109.0,NaN,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11
...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,1046.0,35.0,261004.0,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11
206,Western Sahara,766.0,1.0,NaN,Africa,597330.0,70.26,NaN,NaN,NaN
207,Yemen,1976.0,571.0,NaN,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10
208,Zambia,12415.0,292.0,NaN,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10
209,Zimbabwe,6638.0,206.0,97272.0,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10

In [43]:
# jovian.commit(project='pandas-practice-assignment', environment=None)

**Q10: Add columns `tests_per_million`, `cases_per_million` and `deaths_per_million` into `combined_df`.**

In [44]:
combined_df['tests_per_million'] = combined_df['total_tests'] * 1e6 / combined_df['population']

In [45]:
combined_df['cases_per_million'] = combined_df['total_cases'] * 1e6 / combined_df['population']

In [46]:
combined_df['deaths_per_million'] = combined_df['total_deaths'] * 1e6 / combined_df['population']

In [47]:
combined_df

,location,total_cases,total_deaths,total_tests,continent,population,life_expectancy,hospital_beds_per_thousand,gdp_per_capita,gdp,tests_per_million,cases_per_million,deaths_per_million
0,Afghanistan,38243.0,1409.0,NaN,Asia,38928341.0,64.83,0.50,1803.987,7.022622e+10,NaN,982.394806,36.194710
1,Albania,9728.0,296.0,NaN,Europe,2877800.0,78.57,2.89,11803.431,3.396791e+10,NaN,3380.359997,102.856349
2,Algeria,45158.0,1525.0,NaN,Africa,43851043.0,76.88,1.90,13913.839,6.101364e+11,NaN,1029.804468,34.776824
3,Andorra,1199.0,53.0,NaN,Europe,77265.0,83.73,NaN,NaN,NaN,NaN,15518.022390,685.950948
4,Angola,2729.0,109.0,NaN,Africa,32866268.0,61.15,NaN,5819.495,1.912651e+11,NaN,83.033462,3.316470
...,...,...,...,...,...,...,...,...,...,...,...,...,...
205,Vietnam,1046.0,35.0,261004.0,Asia,97338583.0,75.40,2.60,6171.884,6.007624e+11,2681.403324,10.745996,0.359570
206,Western Sahara,766.0,1.0,NaN,Africa,597330.0,70.26,NaN,NaN,NaN,NaN,1282.373228,1.674116
207,Yemen,1976.0,571.0,NaN,Asia,29825968.0,66.12,0.70,1479.147,4.411699e+10,NaN,66.250993,19.144391
208,Zambia,12415.0,292.0,NaN,Africa,18383956.0,63.89,2.00,3689.251,6.782303e+10,NaN,675.317108,15.883415
209,Zimbabwe,6638.0,206.0,97272.0,Africa,14862927.0,61.49,1.70,1899.775,2.823622e+10,6544.605918,446.614587,13.859989

In [48]:
# jovian.commit(project='pandas-practice-assignment', environment=None)

**Q11: Create a dataframe with 10 countires that have highest number of tests per million people.**

In [49]:
highest_tests_df = combined_df.sort_values(['tests_per_million'],ascending=False)[['location','tests_per_million']].head(10)

In [50]:
highest_tests_df

                 location  tests_per_million
197  United Arab Emirates      725696.635121
14                Bahrain      657527.137965
115            Luxembourg      616349.508607
122                 Malta      427004.183096
53                Denmark      422621.755488
96                 Israel      271962.665303
89                Iceland      260304.761905
157                Russia      254750.159763
199         United States      253467.507769
10              Australia      245326.517406

In [51]:
# jovian.commit(project='pandas-practice-assignment', environment=None)

**Q12: Create a dataframe with 10 countires that have highest number of positive cases per million people.**

In [52]:
highest_cases_df = combined_df.sort_values(['cases_per_million'],ascending=False)[['location','cases_per_million']].head(10)

In [53]:
highest_cases_df

          location  cases_per_million
155          Qatar       41375.743650
14         Bahrain       30818.361490
147         Panama       21805.112117
40           Chile       21695.671982
162     San Marino       21657.139490
9            Aruba       20708.839893
105         Kuwait       20249.789079
150           Peru       20121.318048
27          Brazil       18808.224105
199  United States       18472.377957

In [54]:
# jovian.commit(project='pandas-practice-assignment', environment=None)

**Q13: Create a dataframe with 10 countires that have highest number of deaths cases per million people?**

In [55]:
highest_deaths_df = combined_df.sort_values(['deaths_per_million'],ascending=False)[['location','deaths_per_million']].head(10)

In [56]:
highest_deaths_df

           location  deaths_per_million
162      San Marino         1237.550828
150            Peru          887.393445
18          Belgium          854.040375
3           Andorra          685.950948
177           Spain          624.406705
198  United Kingdom          611.525168
40            Chile          593.423100
97            Italy          587.097697
27           Brazil          582.331314
182          Sweden          576.279276

In [57]:
# jovian.commit(project='pandas-practice-assignment', environment=None)

**(Optional) Q: Count number of countries that feature in both the lists of "highest number of tests per million" and "highest number of cases per million".**

In [58]:
print(highest_tests_df)
print(highest_cases_df)

                 location  tests_per_million
197  United Arab Emirates      725696.635121
14                Bahrain      657527.137965
115            Luxembourg      616349.508607
122                 Malta      427004.183096
53                Denmark      422621.755488
96                 Israel      271962.665303
89                Iceland      260304.761905
157                Russia      254750.159763
199         United States      253467.507769
10              Australia      245326.517406
          location  cases_per_million
155          Qatar       41375.743650
14         Bahrain       30818.361490
147         Panama       21805.112117
40           Chile       21695.671982
162     San Marino       21657.139490
9            Aruba       20708.839893
105         Kuwait       20249.789079
150           Peru       20121.318048
27          Brazil       18808.224105
199  United States       18472.377957

In [59]:
last_comp = highest_tests_df.merge(highest_cases_df,on= "location",how='inner')

In [60]:
last_comp[last_comp.tests_per_million.notnull()].count()

location             2
tests_per_million    2
cases_per_million    2
dtype: int64

In [61]:
# jovian.commit(project='pandas-practice-assignment', environment=None)

**(Optional) Q: Count number of countries that feature in both the lists "20 countries with lowest GDP per capita" and "20 countries with the lowest number of hospital beds per thousand population". Only consider countries with a population higher than 10 million while creating the list.**

In [62]:
lowest_gdp = combined_df.sort_values(['gdp_per_capita'],ascending=True)[['location','gdp_per_capita','population']]
lowest_gdp.head(20)

                         location  gdp_per_capita   population
38       Central African Republic         661.240    4829764.0
32                        Burundi         702.225   11890781.0
111                       Liberia         752.788    5057677.0
52   Democratic Republic of Congo         808.133   89561404.0
140                         Niger         926.000   24206636.0
118                        Malawi        1095.042   19129955.0
132                    Mozambique        1136.103   31255435.0
168                  Sierra Leone        1390.300    7976985.0
43                        Comoros        1413.890     869595.0
117                    Madagascar        1416.440   27691019.0
190                          Togo        1429.813    8278737.0
207                         Yemen        1479.147   29825968.0
61                        Eritrea        1510.459    3546427.0
83                  Guinea-Bissau        1548.675    1967998.0
71                         Gambia        1561.767    2416664.0
176                   South Sudan        1569.888   11193729.0
85                          Haiti        1653.173   11402533.0
195                        Uganda        1697.707   45741000.0
31                   Burkina Faso        1703.102   20903278.0
63                       Ethiopia        1729.927  114963583.0

In [63]:
lowest_hospital_beds = combined_df.sort_values(['hospital_beds_per_thousand'],ascending=True)[['location','hospital_beds_per_thousand','population']]
lowest_hospital_beds.head(20)

         location  hospital_beds_per_thousand    population
121          Mali                        0.10  2.025083e+07
117    Madagascar                        0.20  2.769102e+07
82         Guinea                        0.30  1.313279e+07
63       Ethiopia                        0.30  1.149636e+08
135         Nepal                        0.30  2.913681e+07
140         Niger                        0.30  2.420664e+07
31   Burkina Faso                        0.40  2.090328e+07
0     Afghanistan                        0.50  3.892834e+07
195        Uganda                        0.50  4.574100e+07
20          Benin                        0.50  1.212320e+07
90          India                        0.53  1.380004e+09
145      Pakistan                        0.60  2.208923e+08
80      Guatemala                        0.60  1.791557e+07
190          Togo                        0.70  8.278737e+06
207         Yemen                        0.70  2.982597e+07
85          Haiti                        0.70  1.140253e+07
86       Honduras                        0.70  9.904608e+06
61        Eritrea                        0.70  3.546427e+06
187      Tanzania                        0.70  5.973421e+07
132    Mozambique                        0.70  3.125544e+07

In [64]:
last = lowest_gdp.merge(lowest_hospital_beds,on='location')
last = last[last.gdp_per_capita.notnull()]
last[last['population_x'] > 10000000].sort_values('population_y',ascending=False)

,location,gdp_per_capita,population_x,hospital_beds_per_thousand,population_y
101,China,15308.712,1.439324e+09,4.34,1.439324e+09
58,India,6426.674,1.380004e+09,0.53,1.380004e+09
171,United States,54225.446,3.310026e+08,2.77,3.310026e+08
83,Indonesia,11188.744,2.735236e+08,1.04,2.735236e+08
48,Pakistan,5034.708,2.208923e+08,0.60,2.208923e+08
...,...,...,...,...,...
126,Greece,24574.382,1.042306e+07,4.21,1.042306e+07
70,Jordan,8337.490,1.020314e+07,1.40,1.020314e+07
136,Portugal,27936.896,1.019671e+07,3.39,1.019671e+07
105,Azerbaijan,15847.419,1.013918e+07,4.70,1.013918e+07
166,Sweden,46949.283,1.009927e+07,2.22,1.009927e+07

In [65]:
# import jovian

In [66]:
# jovian.commit(project='pandas-practice-assignment', environment=None)

## Submission 

Congratulations on making it this far! You've reached the end of this assignment, and you just completed your first real-world data analysis problem. It's time to record one final version of your notebook for submission.

Make a submission here by filling the submission form: https://jovian.ai/learn/data-analysis-with-python-zero-to-pandas/assignment/assignment-3-pandas-practice

Also make sure to help others on the forum: https://jovian.ai/forum/t/assignment-3-pandas-practice/11225/2

In [67]:
# jovian.commit(project='pandas-practice-assignment', environment=None)